<div class="card column is-6 is-radiusless" style="background-color: #F5F5F5;">
  <header class="card-header" style="background-color: #00d1b2;">
    <p class="card-header-title is-white" style="color: #FFF">
      <%= variant.vehicle.make.name %> - <%= variant.vehicle.model %> (<%= variant.vehicle.vehicle_type.name %>)
      <br />
      Series: <%= variant.model_variant&.series %> - <%= variant.model_variant&.year %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Specification Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cylinders</td>
            <td><%= variant.vehicle_specification.cylinders %></td>
          </tr>
          <tr>
            <td>Displacement</td>
            <td><%= variant.vehicle_specification.displacement %></td>
          </tr>
          <tr>
            <td>Drive Train</td>
            <td><%= variant.vehicle_specification.drive_train %></td>
          </tr>
          <tr>
            <td>Transmission</td>
            <td><%= variant.vehicle_specification.transmission %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Range</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Price</td>
            <td><%= Money.new(variant.prices.where('amount_cents >= ?', params[:price_min].to_i * 100).minimum(:amount_cents), "USD").format %></td>
            <td><%= Money.new(variant.prices.where('amount_cents <= ?', (params[:price_max].presence && params[:price_max].to_i * 100) || Price::MAX).maximum(:amount_cents), "USD").format %></td>
          </tr>
          <tr>
            <td>Mileage</td>
            <td><%= variant.vehicle_inspections.where('mileage >= ?', params[:mileage_min].to_i).minimum(:mileage) %></td>
            <td><%= variant.vehicle_inspections.where('mileage <= ?', (params[:mileage_max].presence && params[:mileage_max].to_i) || VehicleInspection::MAX).maximum(:mileage) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="card-footer" style="background-color: #FFF;">
    <% variant.option_values.each do |option_value| %>
      <p class="card-footer-item"><strong><%= option_value.option_type.name.humanize %></strong> : <%= option_value.value %></p>
    <% end %>
  </footer>
</div>
